.banner {
  display: block;
  /* margin-bottom: 100px; */
  background-image: url("../../public/banner.svg");
  background-size: 100%;
  /* max-height: calc(100vh - 10vh); */

}

.banner-content {
  display: grid;
  // height: calc(100vh - 100px);
  grid-template-columns:
    minmax(0, 12.5%) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 30.5%);
}

.content {
  grid-column: 2/4;

  //background-color: green;
  h1 {
    font-size: 3rem;
    line-height: calc(3rem * 1);
  }
}

.image {
  grid-column: 4/-1;
  height: 80%;
  margin: auto;
  background-color: purple;

}
